.cardGrid {
    width: 40em;
    max-width: 90%;
    margin: auto;
}

.dispGrid {
    margin-right: 1em;
}

.headerCard {
    background-color: #319e77;
    color : white;
    text-align: center;
    font-size: medium;
}

.grid{
    min-width: 23%;
    margin: 0 2% 2% 0;
}

.paper {
    height: 5em;
}

.listItem {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pencil:hover {
    color: #1edc50;
}

.trash:hover {
    color: red;
}

.search {
    max-width: 25%;
    margin-bottom: 2%;
}

.addAccountButton {
    position: absolute;
    right: 2em;
    top: 6em;
}

.addColor:hover {
    color: blue;
}

.addField {
    margin-bottom: 7%;
}

.trashField {
    text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* ====================== MEDIA QUERY ====================== */

@media only screen and (max-width: 1264px) {
    .grid {
        min-width: 31%;
    }
    .search {
        max-width: 33%;
    }
}

@media only screen and (max-width: 976px) {
    .grid {
        min-width: 48%;
    }
    .search {
        max-width: 50%;
        margin-bottom: 5%;
    }
}

@media only screen and (max-width: 660px) {
    .grid {
        min-width: 100%;
        margin-right: 0%;
    }
    .search {
        margin-bottom: 7%;
    }
    .addAccountButton {
        right:0.5em;
        top: 5.5em;
    }
}


/* ====================== Buttons Dialog ====================== */

.decline:hover {
    color: red;
}

.confirm:hover {
    color: green;
}


/* ====================== Border colors ====================== */

