.cardGrid {
    width: 40em;
    max-width: 90%;
    margin: auto;
}

.dispGrid {
    margin-right: 1em;
}

.headerCard {
    background-color: #319e77;
    color : white;
    text-align: center;
    font-size: medium;
}

.paper {
    color: white;
    height: 5em;
    min-width: 20em;
}

.align {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.person {
    font-size: 20em;
}

.pencil:hover {
    color: #1edc50;
}

.trash:hover {
    color: red;
}

.search {
    height: 5em;
    width: 24em;
    margin-bottom: 1em;
}
